body {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
}

.head {
	display: inline;
	position: fixed;
	z-index: 9000;
}

.head img {
	height: 25px;
}

.head ul ul li {
	width: 200px;
	text-align: center;

	border-radius: 20px;
}

.head ul ul {
	position: absolute;
	width: auto;
	height: 30px;
	left: 53px;
	display: none;
	list-style: none;
	background-color: rgba(203, 218, 248, 0.986);
	z-index: 800;
	padding: 0px;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.404);
}

.head ul ul li a {
	padding: 15px;
}

.menuicon {
	position: relative;
	margin: 15px;
	padding: 0px;
	display: inline-flex;
	padding: 10px;
	border-radius: 20px;
	list-style: none;
	z-index: 900;
}

.menuicon:hover {
	background-color: rgba(114, 160, 246, 0.171);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.404);
}

.menuicon:hover ul {
	display: inline-flex;
}

.menuicon:active {
	background-color: rgba(114, 160, 246, 0.171);
	box-shadow: inset 1px 0px 5px rgb(185, 182, 182);
}

.head .otodo {
	display: inline;
}

.home {
	position: relative;
}

.imghome {
	position: absolute;
	right: 4%;
	height: 800px;
	opacity: 0.3;
	z-index: -1000;
}

#primeiroitem {
	margin-left: 3%;
}

.head a {
	font-family: "Prompt", sans-serif;
	font-size: 20px;
	text-decoration: none;
	margin: auto;
	width: 175px;
	color: rgb(115, 142, 185);
	text-align: center;
}

.head a::first-letter {
	font-size: 20px;
}

.head a:hover {
	color: rgb(129, 182, 243);
}

.letreiro {
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: center;
}

.et {
	font-family: "Nova Round", cursive;
	margin-top: 3%;
	font-size: 50px;
	margin-bottom: 3%;
	margin-left: 25%;
	color: rgba(44, 42, 41, 0.664);
}

.mandala {
	margin-top: 0px;
	font-size: 220px;
	line-height: 80%;
	margin-bottom: 10%;
	margin-left: 15%;
	font-family: "Dancing Script", cursive;
	color: rgb(90, 108, 156);
}

.rodape {
	height: 56px;
}
