.pag2 {
	background: linear-gradient(
		rgba(78, 154, 253, 0.198),
		rgba(255, 255, 255, 0.15)
	);
	height: 1600px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 100px 100px 0px 0px;
	position: relative;
	top: 1400px;
}
.pag2 img {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	opacity: 1;
	margin-top: 350px;
	position: relative;
	bottom: 1600px;
}

#quemsomos {
	margin-top: 750px;
}

.apresentacao {
	margin-top: 200px;
	text-align: center;
}

.txtpequeno {
	font-size: 12px;
	letter-spacing: 2px;
	font-family: 'Prompt', sans-serif;
	color: rgb(96, 175, 228);
	font-weight: bold;
}

.txtchamada {
	font-size: 26px;
	letter-spacing: 4px;
	font-family: 'Prompt', sans-serif;
	font-weight: bold;
	color: rgb(90, 90, 90);
}

.txtcomercial {
	font-size: 16px;
	letter-spacing: 2px;
	font-family: 'Prompt', sans-serif;
	color: rgb(90, 90, 90);
	text-align: center;
	font-weight: 100;
}

#fotos {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

span {
	color: rgb(54, 123, 168);
}

.container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0px;
}

.container .card {
	position: relative;
	max-width: 400px;
	height: 250px;
	background-color: rgb(202, 226, 243);
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 202px rgba(93, 97, 163, 0.329);
	transition: 0.3s ease-in-out;
	border-radius: 15px;
}

.container .card:hover {
	height: 640px;
}

.slidecartao {
	height: 640px !important;
}

.container .card .imgBx {
	position: relative;
	width: 100%;
	height: auto;
	top: -160px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	background-color: rgba(243, 244, 245, 0.726);
}

.textodocartao {
	height: 30px;
	opacity: 0.5;
	width: 25%;
	position: relative;
	margin-right: auto;
	margin-left: 37.5%;
	background-color: rgba(243, 244, 245, 0.726);
}

.container .card:hover .textodocartao {
	opacity: 0;
}

.container .card .imgBx img {
	max-width: 100%;
	border-radius: 4px;
}

.container .card .content {
	position: relative;
	margin-top: -155px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.container .card:hover .content {
	visibility: visible;
	opacity: 1;

	transition-delay: 0.3s;
}

.fotodatabela {
	align-items: center;
	width: 100%;
	margin: none;
}

#fotos td {
	position: relative;
	height: 900px;
}

.dentrodafoto {
	position: relative;
	bottom: 0px;
	text-align: center;
	background-color: rgba(167, 180, 204, 0.685);
	border-radius: 20px;
	height: 40px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.dentrodafoto img:hover {
	opacity: 0.6;
}

.linkdentrodafoto {
	height: 35px;
}

.passagem02 {
	background: linear-gradient(
		rgba(255, 255, 255, 0.15),
		rgba(78, 154, 253, 0.205) 80%
	);
	border-radius: 0px 0px 100px 100px;
	height: 800px;
	position: relative;
	margin-top: 90px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.passagem02 img {
	margin-left: 10%;
	margin-left: 10%;
	width: 80%;
}
.falsehtml,
.swiper {
	position: relative;
	margin-top: 300px;
}

.swiper {
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper-container {
	width: 600px;
	height: 600px;

	margin-top: -150px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
}
