.atrativo {
	background: linear-gradient(
		rgba(255, 255, 255, 0.15),
		rgba(78, 154, 253, 0.198)
	);
	z-index: -5000;
	width: 1350px;
	margin-left: auto;
	margin-right: auto;
	height: 850px;
	border-radius: 100px;
	position: relative;
	bottom: 200px;
}

#seta {
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 50px;
	opacity: 0.3;
	position: relative;
	top: 150px;
}

.setinha {
	display: flex;
}

.qualidades {
	width: inherit;
	display: flex;
	height: 430px;
}

.qualidades table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 280px;
	border-radius: 30px;
	border-spacing: 40px 15px;
	position: relative;
	top: 100px;
}

.atrativo td {
	text-align: center;
	font-size: 15px;
	font-family: "Nova Round", cursive;
	padding: 30px;
	color: rgb(87, 90, 105);
	width: 130px;
	font-weight: bold;
}

.atrativo .figura {
	width: 80px;
	opacity: 0.9;
}

.atrat {
	padding: 5px;
	border-radius: 80px;
	background-color: rgba(254, 254, 255, 0.972);
	box-shadow: inset 5px 10px 35px rgba(64, 135, 228, 0.5);
}

#relativa {
	position: relative;
	text-align: center;
	margin-bottom: 100px;
	bottom: 100px;
}

.insta,
.whats {
	width: 45px;
	margin-top: 110px;
}

.whats {
	margin-left: 60px;
}

.insta {
	border-radius: 30px;
}

.whats:hover {
	box-shadow: 0px 0px 11px rgb(44, 81, 155);
	border-radius: 30px;
	width: 50px;
	margin-left: 55px;
	margin-top: 100px;
}

.insta:hover {
	box-shadow: 0px 0px 11px rgba(44, 81, 155);
	border-radius: 30px;
	width: 50px;
	margin-top: 100px;
	margin-right: -5px;
}

.bemvindo {
	display: block;
	height: 150px;
	justify-content: center;
	line-height: 0px;
}

.bemvindo p {
	text-align: center;
	font-size: 30px;
	color: rgb(115, 142, 185);
	margin-bottom: 0px;
	margin-top: 65px;
	font-weight: bold;

	font-family: "Quicksand", sans-serif;
}

.bemvindo img {
	margin-left: 27%;
	margin-right: auto;
}

.primeirotexto {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.txtmaior {
	float: left;
	width: 50%;
	border-bottom: rgba(124, 184, 240, 0.534) solid;
	border-left: rgba(124, 184, 240, 0.534) solid;
	padding-bottom: 40px;
}

.txtmaior1 {
	font-size: 10;
	letter-spacing: 2px;
	font-family: "Prompt", sans-serif;
	color: rgb(90, 90, 90);
	text-align: left;
	margin-left: 30px;
}

.titulodotexto {
	font-family: "Quicksand", sans-serif;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20px;
	margin-left: 30px;
}

.titulodotexto span {
	color: rgb(15, 121, 192);
}

.textomenor {
	float: right;
	width: 30%;
	text-align: center;
	position: relative;
	top: 70px;
	margin-right: 30px;
	box-shadow: 0px 0px 60px rgba(82, 119, 155, 0.308);
	border-radius: 40px;
	padding: 20px;
}

.titulodotexto1 {
	font-family: "Quicksand", sans-serif;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 16px;
	color: rgb(75, 138, 180);
}

.vazio1 {
	height: 0px;
}
