.pag2 {
	background: linear-gradient(
		rgba(78, 154, 253, 0.198),
		rgba(255, 255, 255, 0.15)
	);
	height: 1600px;
	width: 1350px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 100px;
	position: relative;
	top: 1400px;
}
.pag2 img {
	margin-left: auto;
	margin-right: auto;
	width: 60;
	opacity: 1;
	margin-top: 350px;
	position: relative;
	bottom: 1600px;
}

#quemsomos {
	margin-top: 850px;
}

.apresentacao {
	margin-top: 200px;
	text-align: center;
}

.txtpequeno {
	font-size: 12px;
	letter-spacing: 2px;
	font-family: "Prompt", sans-serif;
	color: rgb(96, 175, 228);
	font-weight: bold;
}

.txtchamada {
	font-size: 26px;
	letter-spacing: 4px;
	font-family: "Prompt", sans-serif;
	font-weight: bold;
	color: rgb(90, 90, 90);
}

.txtcomercial {
	font-size: 10;
	letter-spacing: 2px;
	font-family: "Prompt", sans-serif;
	color: rgb(90, 90, 90);
	text-align: center;
}

#fotos {
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;

	border-spacing: 40px 20px;
}

span {
	color: rgb(54, 123, 168);
}

.fotodatabela {
	border-radius: 30px;
	align-items: center;
	width: 100%;
}

#fotos td {
	position: relative;
}

.dentrodafoto {
	position: relative;
	bottom: 30px;
	text-align: center;
	background-color: rgba(167, 180, 204, 0.685);
	border-radius: 20px;
	height: 40px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.linkdentrodafoto {
	height: 35px;
}

.passagem02 {
	background: linear-gradient(
		rgba(255, 255, 255, 0.15),
		rgba(78, 154, 253, 0.205) 80%
	);
	border-radius: 100px;
	height: 800px;
	position: relative;
	margin-top: 90px;
}

.passagem02 img {
	margin-left: auto;
	margin-left: auto;
	width: 100%;
}
