@media (max-width: 1650px) {
	.pag2 img {
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
	.passagem02 img {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		position: relative;
	}

	#quemsomos {
		margin-top: 300px;
	}

	.mandaladapassagem {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media (max-width: 1200px) {
	body {
		width: 100%;
	}

	.head ul:hover ul {
		display: block;

		border-radius: none;
		box-shadow: none;
	}

	.head ul ul {
		background-color: none;
	}

	.head ul ul li {
		background-color: rgba(231, 236, 246, 0.986);
		margin-top: 20px;
		position: relative;
		top: -50px;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.404);
	}

	.imghome {
		height: 100%;
		width: auto;
		margin-left: auto;
		opacity: 0.2;
	}

	.et {
		margin-top: 15%;
		font-size: 35px;
		margin-left: 35%;
	}

	.mandala {
		margin: 10%;
		font-size: 1000%;
		margin-top: 3%;
		text-align: center;
	}

	.letreiro {
		height: 100%;
		width: auto;
	}
	.setinha {
		display: none;
	}

	.atrativo {
	}

	.qualidades table td {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.qualidades table img {
		margin-left: auto;
		margin-right: auto;
	}

	.atrat p {
		font-size: 85%;
	}

	#relativa {
		margin-top: 200px;
	}

	.bemvindo img {
		width: 50%;
		margin-right: auto;
	}

	.primeirotexto {
		width: 90%;
	}

	.pag2 {
		margin-top: 100px;
		position: relative;
		top: 1000px;
		height: 1400px;
	}

	.pag2 img {
		position: relative;
		bottom: 1240px;
	}

	#quemsomos {
		margin-top: 0px;
	}

	.quemsomos table tr {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.passagem02 {
		height: auto;

		margin-top: 200px;
	}

	#tabelafotos table {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	#tabelafotos table td {
		display: block;
	}

	.vazio {
		display: none;
	}

	.empe {
		height: 680px;
	}
}

@media (max-width: 600px) {
	.phonebox {
		height: 80px;
	}

	.imghome {
		height: auto;
		width: 100%;
		position: absolute;
		right: 0%;
		opacity: 0.17;
	}

	.head ul ul li a {
		padding: 0px;
	}

	.mandala {
		margin-right: 1%;
		margin-left: 1%;
		font-size: 600%;
		margin-top: 3%;
		text-align: center;
	}

	.et {
		margin-left: 26%;
	}

	.atrativo {
		position: relative;
		bottom: 300px;
	}

	.qualidades table td {
		margin-top: 40px;
	}

	#relativa {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.bemvindo {
		height: 100px;
	}

	.apresentacao {
		margin-top: 130px;
		width: 97%;
		margin-left: auto;
		margin-right: auto;
	}

	.txtmaior {
		float: none;
		width: 100%;
		margin-right: 15%;
	}

	.txtmaior1 {
		text-align: left;
		margin: 15px;
	}

	.bemvindo img {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.textomenor {
		margin-top: 20px;
		margin-bottom: 90px;
		float: none;
		width: 80%;
		margin-right: 0px;
		margin-left: 3%;
		background-color: rgba(205, 220, 245, 0.383);
		box-shadow: inset 0px 0px 30px rgba(82, 119, 155, 0.568);
	}

	.pag2 {
		position: relative;
		top: 200px;
		height: 400px;
		margin-bottom: -170px;
	}

	.pag2 img {
		position: relative;
		bottom: 500px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#quemsomos {
		margin-top: 10px;
	}

	.dentrodafoto {
		width: 50%;
	}

	.passagem02 {
		margin-top: -35px;
		margin-bottom: 190px;
	}

	#tabelafotos table {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.empe {
		height: 270px;
	}

	.deitado1,
	.deitado2 {
		height: 190px;
	}
	.manpass {
		margin-top: 40px;
		margin-bottom: -20px;
	}

	.mandaladapassagem {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	.formulario {
		float: none;
		width: 90%;
	}

	.informacoes {
		float: none;
		width: 90%;
		margin-left: 0%;
		margin-top: 50px;
	}

	.ladoform1 {
		display: none;
	}

	.fimm {
		margin-top: 80px;
		height: 50px;
	}
	.fimm img {
		height: 50px;
		margin-top: 0px;
	}

	.passagem02 img {
		position: relative;
		top: 90px;
	}

	#paddinerrado {
		bottom: 0px;
	}

	.rodapefim {
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}
